<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.flexisys.kbr"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".controller.KbrApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".view.KbrActivity" />
        <activity
            android:name=".view.MenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.tenyeszet.TenyeszetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MenuActivity" />
        </activity>
        <activity
            android:name=".view.biralat.BiralatTenyeszetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MenuActivity" />
        </activity>
        <activity
            android:name=".view.biralat.BiralatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.biralat.BiralatTenyeszetActivity" />
        </activity>

        <activity
            android:name=".view.levalogatas.LevalogatasTenyeszetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MenuActivity" />
        </activity>
        <activity
            android:name=".view.levalogatas.LevalogatasActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.levalogatas.LevalogatasTenyeszetActivity" />
        </activity>
        <activity
            android:name=".view.levalogatas.biralatdialog.BiralatDialogActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.levalogatas.LevalogatasActivity" />
        </activity>

        <activity
            android:name=".view.bongeszo.tenyeszet.BongeszoTenyeszetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MenuActivity" />
        </activity>
        <activity
            android:name=".view.bongeszo.BongeszoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.bongeszo.BongeszoTenyeszetActivity" />
        </activity>
        <activity
            android:name=".view.bongeszo.diagram.DiagramActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.bongeszo.BongeszoActivity" />
        </activity>
        <activity
            android:name=".view.bongeszo.biralatdialog.BiralatDialogEditActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.bongeszo.BongeszoActivity" />
        </activity>

        <activity
            android:name=".view.db.DbInconsistencyHandlerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
    </application>
</manifest>