<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.flexisys.kbr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".controller.KbrApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <service
            android:name=".controller.network.tenyeszet.DownloadTenyeszetArrayService"
            android:exported="false" />

        <activity android:name=".view.KbrActivity" />
        <activity
            android:name=".view.MenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.admin.AdminActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.tenyeszet.TenyeszetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".view.MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.biralat.BiralatTenyeszetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".view.MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.biralat.BiralatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".view.biralat.BiralatTenyeszetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".view.levalogatas.LevalogatasTenyeszetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".view.MenuActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.levalogatas.LevalogatasActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".view.levalogatas.LevalogatasTenyeszetActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.levalogatas.biralatdialog.BiralatDialogActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".view.levalogatas.LevalogatasActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.bongeszo.tenyeszet.BongeszoTenyeszetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".view.MenuActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.bongeszo.BongeszoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".view.bongeszo.tenyeszet.BongeszoTenyeszetActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.bongeszo.diagram.DiagramActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".view.bongeszo.BongeszoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.bongeszo.biralatdialog.BiralatDialogEditActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".view.bongeszo.BongeszoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.db.SendDbActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.db.DbInconsistencyHandlerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
    </application>
</manifest>